<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .content {
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="content">
        <header>Hello <%=data.email%>
        </header>
        <p>
            Wellcome to F4U, please enter the under link to complete your setup progress.
        </p>
    </div>

</body>

</html>